PORT=3000
NODE_ENV=development
AWS_REGION=us-east-1

# Integration test targets
LOCAL_BASE_URL=http://localhost:3000
DEPLOY_BASE_URL=https://your-api-id.execute-api.us-east-1.amazonaws.com

# DynamoDB
DYNAMODB_TABLE_NAME=books-api-data-dev

# S3
S3_BUCKET_NAME=books-api-files-<account>-dev

# EventBridge
EVENTBRIDGE_EVENT_BUS_NAME=books-api-events-dev
